http://localhost {
    handle /api/* {
        reverse_proxy localhost:8082
    }
    reverse_proxy http://localhost:5173
}

http://stdy.tech {
    handle /api/* {
        reverse_proxy localhost:8082
    }
    reverse_proxy http://localhost:5173
}
